HTML CSSResult Skip Results Iframe
EDIT ON
html, body {
  padding: 25px 0;
  margin: 0;
  font: normal 16px Helvetica, Arial, sans-serif;
  text-align: center;
  color: #0d098b;
  background: #0d098b;
}

main {
  display: block;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  border-radius: 12px;
  max-width: 450px;
  padding: 1.5rem;
  margin: 0 auto;
  background: #ffffff;
  box-sizing: border-box;
}

h1 {
  color: #CC183E;
}

fieldset {
  padding: 0 0 25px 0;
  margin: 0;
  border: none;
}

input[type="text"] {
  width: 80px;
  height: 50px;
  padding: 5px;
  margin: 0 0 20px 0;
  font: normal 24px Georgia, Palatino, serif;
  text-align: center;
  border: 1px solid #cecece;
  box-sizing: border-box;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 15px 0;
  font: normal 20px Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-shadow: 1px 1px 5px rgba(80, 80, 80, .8);
  border: 1px solid #91112C;
  box-shadow: 0 0 1px 1px #780e24;
  border-radius: 11px;
  background: linear-gradient(to bottom, #CC183E 0%, #780E24 100%);
}

a { color: #cc183e; }

button:disabled {
  color: grey;
  border: none;
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.7;
}

#guessButton {
  background-color: #CC183E; 
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;

  box-shadow: 0 4px 10px rgba(37, 99, 235, 0.35);
  transition: 
    background-color 0.2s ease,
    transform 0.1s ease,
    box-shadow 0.1s ease;
}

